<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capitán América: Civil War</title>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- BOOTSWATCH -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/pulse/bootstrap.min.css">

  <!-- ANIMATE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
  <link rel="stylesheet" href="../static/css/estilo.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-danger bg-danger">
    <a class="navbar-brand" href="index.html" style="font-size: 30px;color: aliceblue;">Tomatazos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        PELICULAS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SERIES 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">juegos de tronos</a>
            <a class="dropdown-item" href="#">lucifer</a>
            <a class="dropdown-item" href="#">mr.robot</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          VIDEOS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">VIDEOS RECIENTES</a>
            <a class="dropdown-item" href="#"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          LOGIN
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </ul>
      <input class="form-control mr-sm-2" type="search" placeholder="busca en tomatazos" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    </div>
  </nav>
  <div class="wrapper style2">
    <section class="container2">
      <header class="major">
      <!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span> -->
      </header>
      <div id="video">
        <video width="640" height="360" controls autoplay>
          <source src="../static/video/capitanamerica.mp4" type="video/mp4">
        </video>
      </div>
    </section>	
  </div>	
  <!-- </div>
  </div>
  </div> -->
  <div class="r">
    <div class="wrapper style4">
      <section class="container">
      <header class="major">
        <br>
        <h2 style="color: aliceblue; text-align: justify;font-size: 35px;">Capitán América: Civil War</h2>
      <!-- <span class="byline">Mauris vulputate dolor sit amet nibh</span> -->
      </header>

        <div class="row no-collapse-1">
          <section class="4u">

            <p style="text-align: justify; color: aliceblue; font-size: 23px;">Capitán América: Guerra Civil continúa la historia de Steve Rogers, líder del recién formado equipo de Vengadores, en sus continuos esfuerzos para salvaguardar la humanidad. Pero después de otro incidente en el que los Vengadores intervienen resulta en daños colaterales, aumenta la presión política para instalar un sistema de responsabilidad a cargo de un órgano de gobierno para supervisar y dirigir el equipo. El nuevo status quo se fractura los Vengadores, resultando en dos equipos, uno liderado por Steve Rogers y su deseo de los Vengadores que sigan teniendo libertad para defender a la humanidad sin la interferencia del gobierno, y el otro bajo el mando de Tony Stark, creado para apoyar la supervisión del gobierno y que los héroes rindan cuentas.</p>
          </section>
        </div>
      </section>
    </div>
  </div>

  <div class="t">
    <div id="carouselExampleCaptions" style="width: 500px; height: 100px; margin-left: 40px;margin-right: auto;"class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <br>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img   src="images/capitan2.jpg " class="d-block w-100" alt="..." > -->
          <a href="{{url_for('index')}}" class="image feature"><img src="../static/imges/capitan2.jpg" alt=""></a>
          <!-- {{url_for('static',filename='images/capitan2.jpg')}} -->
          <div class="carousel-caption d-none d-md-block">
            <svg  width="90px" height="90px" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path  d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
            <h5>Capitán América: Civil War</h5>
            <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{url_for('index')}}" class="image feature"><img src="../static/imges/batman2.jpg" alt=""></a>
          <!-- {{url_for('static',filename='images/batman2.jpg')}} -->
          <div class="carousel-caption d-none d-md-block">
            <svg width="90px" height="90px" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
            <h5>Batman vs Superman: El Origen de la Justicia</h5>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <a href="{{url_for('index')}}" class="image feature"><img src="../static/imges/escuadron.jpg" alt=""></a>
          <!-- {{url_for('static',filename='images/escuadron.jpg')}} -->
          <div class="carousel-caption d-none d-md-block">
            <svg width="90px" height="90px" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
            <h5>Escuadrón Suicida </h5>
            <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="card" style="width: 40rem;height: 15rem; margin-right: 70px; margin-left: auto;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text"></p>
        <a href="#" class="card-link"></a>
        <a href="#" class="card-link"></a>
      </div>
    </div>
  </div>
  <div class="comentario"> 
    <h1>Comentarios</h1>
    <form >
      <input style="font-size: 50px;;" type="text" id=txt1>
      <br>
      <br>
      <button id="btnEnviar"class="btn btn-danger"style="margin-left: 463px;">Publicar</button>
      <label for="recibido"></label>
    </form>
  </div> 
  <img id="bg" src="{{ url_for('video_feed',pelicula='Capitan America: Civil War')}}" hidden="true">    

  <div class="copyrights">
    <div class="container" >
      <div class="footer-distributed" >
        <div class="footer-left">
          <p class="footer-company-name" style="margin-right: auto; margin-left:465px;color: aliceblue;font-size: 20px;"> &copy; 2020 <a >Tesalia </a> 
            <a href="https://www.facebook.com/VisitaTeapa-103378037971268/?modal=admin_todo_tour"target="blank"><i class="fa fa-facebook"  aria-hidden="true"></i></a>
            <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> -->
            <a href="https://www.instagram.com/visitateapa/"target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div><!-- end container -->
  </div><!-- end copyrights -->
  <script>
    $( window ).on( "load", function() {
      alert("AVISO DE PRIVACIDAD: Debido a nuestro interés por mejorar el contenido, se accederá a monitorear tus reacciones a los trailers de tus películas favoritas");
    });
  </script>
</body>
</html>
